{% load static %}
<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}موقعي{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'CSS/Base.css' %}">
</head>
<body>
    <header>
        
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>جميع الحقوق محفوظة &copy; 2023</p>
    </footer>
    <script src="{% static 'JS/Base.js' %}"></script>
</body>
</html>